.title-page{
    color:white !important;
    text-align: center;
    justify-content: center;
}

.subtitle{
    text-transform: lowercase;
    color:white !important;
    text-align: center;
    justify-content: center;
}

.background-contact{ padding: 8rem; }

.bloc{ width: inherit !important; }

/* .navbar{ display: flex; width: 90vw;} */
/* .navbar-nav .nav{ float: inherit !important; } */
/* .site-nav{ display: flex; float: right;} */
#bloc-0-contact .navbar.row{
        display: flex;
        justify-content: space-between;
}
#bloc-0-contact .container{
    margin: auto;
}
.white-background{
    background-color: rgba(255,255,255,0.8);
    position: relative;
    padding: 40px;
    border-radius: 0.75rem !important;
}
.white-background h2{ 
    font-weight: 600;
}

.cta-link{
    color: #f3976c !important;
    font-size:1.5rem;
}

.bg-lines-h2-bg{
    background-image:none !important;
}

#bloc-4-portfolio h2{
    color: #f3976c !important;
    padding-right: 8rem; 
    padding-left: 8rem;
}
#bloc-5-cta .row{
    background-color: rgba(255,255,255,0.8);
    position: relative;
    margin-right: 20rem;
    margin-left: 20rem;
    padding: 3rem;
    border-radius: 0.75rem !important;
}
#bloc-5-cta h2{
    font-weight: 600;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.text-contact{ 
    width: fit-content;
    margin: auto;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: rgba(255,255,255,.8);
    border-radius: .75rem;
}
.text-contact h1{ 
    color: #f3976c !important;
    padding-bottom: 1rem;
}
.text-contact h3{
    color: gray !important;
}

#bloc-7 .row {
    display: flex !important;
    flex-direction: column !important;
}
#bloc-7 .col-sm-6 {
    padding-top: 1rem;
    margin: auto;
}

.bloc-2-services h2{
    padding-right: 25rem;
    padding-left: 25rem;
}

.img-citation{
}

@media (max-width: 767px) {
    .container.bloc-md{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-center{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .img-citation{
        width: 100% ;
    }

    .white-background{
        margin-left: 2rem; 
        margin-right: 2rem;
        padding: 10px;
    }

    #bloc-4-portfolio img{ 
        width: 80%;
        margin: auto;
    }
    #bloc-4-portfolio h2{ 
        margin-bottom: 2rem;
    }
    #bloc-4-portfolio .col-sm-6{
        display :flex;
        flex-direction: column;
    }

    #bloc-4-portfolio .col-sm-6 h3{
        order:1;
        font-size: 1.75rem;
        margin-inline:20px ;
    }
    #bloc-4-portfolio .col-sm-6 a{
        order:2;
        padding-bottom: 1rem;
    }
    #bloc-4-portfolio .col-sm-6 p{
        order:3;
        font-size: 1.5rem;

    }
    #bloc-4-portfolio .col-sm-6{
        margin-top: 2rem !important;
    }
 

    .portfolio-row{margin-bottom: 0px !important; margin-top: 0px !important;}


    #bloc-5-cta .row{
        margin: 2rem;
    }

    .row-no-gutters{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    #bloc-8 .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 2rem;
    }

    #bloc-7 .col-sm-6{ 
        width: 100%;
    }
    #bloc-7 .col-sm-6{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .background-contact{
        padding: 4rem;

    }

    #bloc-6 .title-page{
        padding:0 !important;
    }
}